@model List<Rentopolis.Models.Data.AppUser>

@* For Manager page *@

<div class="d-flex flex-column flex-grow-1">
    <h1>@ViewData["role"]s</h1>
    <p>These is the list of @ViewData["role"]s that are available!</p>
</div>

<br />

@if (Model.Count == 0)
{
    <div class="d-flex justify-content-center" style="margin-top:100px">
        <h4>No users available!</h4>
    </div>
}

@if (Model.Count != 0)
{
    @if (ViewBag.Success == false)
    {
        <div class="alert alert-danger">
            @if (ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }
        </div>
    }

    <table class="table table-hover">
        <tr class="table-dark" style="height:50px">
            <th>User Id</th>
            <th>User</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Ban/Unban</th>
            <th></th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                @* user id *@
                <td>
                    <p class="fw-light" style="font-size:13px">@user.Id</p>
                </td>

                @* profile *@
                <td>
                    <div class="d-flex justify-content-start align-items-center gap-2">
                        <img src="@user.ProfilePicture" alt="profile pic" style="width:35px; height:35px; border-radius:50%;" />
                        @user.UserName
                    </div>
                </td>

                @* full name *@
                <td>
                    <div class="d-flex justify-content-start align-items-center gap-1">
                        <p>@user.FirstName</p>
                        <p>@user.LastName</p>
                    </div>
                </td>

                @* email *@
                <td>@user.Email</td>

                @* banned? *@
                <td>
                    @if (@user.LockoutEnd == null)
                    {
                        <a class="btn d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#banModal">
                            <i class="fa-solid fa-lock-open fs-5" style="color: green;"></i>
                            <p class="m-0" style="font-size:10px; color:green;">Not Banned</p>
                        </a>

                        <!-- Conformation Modal-->
                        <div id="banModal" class="modal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Ban User</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to ban this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-primary" asp-action="BanUser" asp-route-id="@user.Id" asp-route-role="@ViewData["role"]">Yes</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (@user.LockoutEnd != null)
                    {
                        <a class="btn d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#unbanModal">
                            <i class="fa-solid fa-lock fs-5" style="color: red;"></i>
                            <p class="m-0" style="font-size:10px; color:red;">Banned</p>
                        </a>

                        <!-- Conformation Modal -->
                        <div class="modal fade" id="unbanModal" tabindex="-1" role="dialog" aria-labelledby="unbanModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="unbanModalLabel">Unban User</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to unban this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-primary" asp-action="UnbanUser" asp-route-id="@user.Id" asp-route-role="@ViewData["role"]">Yes</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>

                @* button *@
                <td>
                    <div class="d-flex justify-content-end gap-2 me-3">
                        <a class="btn" asp-controller="Account" asp-action="UserProfile" asp-route-id="@user.Id">
                            <i class="fa-solid fa-circle-info fs-5" style="color: black;" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';"></i>
                        </a>
                    </div>
                </td>

            </tr>
        }


    </table>
}