@model List<Rentopolis.Models.Data.AppUser>

@* page title + search bar *@
<div class="d-flex align-items-center mt-5">

    <div class="d-flex flex-column flex-grow-1">
        <h4 class="fw-bold">Reported @TempData["role"]s List</h4>
        <p style="font-size:14px;">This is the list of @TempData["role"]s that have been reported!</p>
    </div>

    <div class="d-flex flex-column flex-grow-1">
        @* search bar *@
        <form method="get" asp-action="ReportedUsers">
            <div class="input-group mb-3">
                <input type="hidden" name="role" value="@TempData["role"]">
                <input type="text" class="form-control ps-4" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="First name, Last name, User name, Email..." aria-label="Search" aria-describedby="button-addon2" autocomplete="off" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23);font-size:15px;">
                <button class="btn" type="submit" id="button-addon2" style="padding: 8px 20px; background-color: @(TempData["role"].ToString()=="Landlord"?"#0D6EFD":"#198754"); color:white;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</div>


@* displaying success message *@
@if (TempData.ContainsKey("successMessage"))
{
    <div class="alert alert-success fade show position-fixed bottom-0 end-0 border-2" role="alert" style="margin-bottom: 40px; margin-right: 40px;" id="fadingAlert">
        <p class="m-0 py-2 px-3">
            <i class="fa-solid fa-circle-check"></i>
            @TempData["successMessage"]
        </p>
    </div>

    TempData.Remove("successMessage");
}

@* displaying errors messages *@
@if (TempData.ContainsKey("deletionErrors"))
{
    <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show px-4" role="alert" style="font-size:14px;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p class="m-0 fw-bold">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Operation Failed!
        </p>
        <li>@TempData["deletionErrors"]</li>
    </div>

    TempData.Remove("deletionErrors");
}


<br />


@* if users are NOT available *@
@if (Model.Count == 0)
{
    // just empty
    @if (@ViewData["CurrentFilter"] == null)
    {
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/Images/Assets/empty.png" alt="empty-image" class="w-25" />
            <h4>No users available!</h4>
            <p style="font-size:14px;">There are no reported @TempData["role"]s so far.</p>
        </div>
    }

    //searched
    @if (@ViewData["CurrentFilter"] != null)
    {
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/Images/Assets/no-result.png" alt="no-result-image" class="w-25" />
            <h4>No result found!</h4>
            <p style="font-size:14px;">There are no reported @TempData["role"]s matching the keyword "@ViewData["CurrentFilter"]".</p>
        </div>
    }
}


@* if users ARE available *@
@if (Model.Count != 0)
{
    <table class="table table-hover">

        <tr style="height:50px; font-size:14px; background-image: linear-gradient(to bottom, @(TempData["role"].ToString()=="Landlord"?"#0d6dfd, #a5bfe6":"#198754, #49d192")); color:white;">
            <th class="align-middle ps-4">User Id</th>
            <th class="align-middle">User</th>
            <th class="align-middle">Full Name</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Ban/Unban</th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr style="font-size:15px">

                @* user id *@
                <td class="align-middle ps-4">
                    <p class="fw-light mb-0" style="font-size:13px">@Model[i].Id</p>
                </td>

                @* profile *@
                <td class="align-middle">
                    <div class="d-flex justify-content-start align-items-center gap-2">
                        <img src="@Model[i].ProfilePicture" alt="profile pic" style="width:35px; height:35px; border-radius:50%;" />
                        @Model[i].UserName
                    </div>
                </td>

                @* full name *@
                <td class="align-middle">
                    <div class="d-flex justify-content-start align-items-center gap-1">
                        <p class="mb-0">@Model[i].FirstName</p>
                        <p class="mb-0">@Model[i].LastName</p>
                    </div>
                </td>

                @* email *@
                <td class="align-middle">@Model[i].Email</td>

                @* banned? *@
                <td class="align-middle">
                    @if (Model[i].LockoutEnd == null)
                    {
                        <a class="btn d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#banModal-@i">
                            <i class="fa-solid fa-lock-open fs-5" style="color: green;"></i>
                            <p class="m-0" style="font-size:10px; color:green;">Not Banned</p>
                        </a>

                        <!-- Conformation Modal-->
                        <div id="banModal-@i" class="modal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Ban User</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to ban this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-primary" asp-action="BanUser" asp-route-id="@Model[i].Id" asp-route-role="@TempData["role"]">Yes</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model[i].LockoutEnd != null)
                    {
                        <a class="btn d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#unbanModal-@i">
                            <i class="fa-solid fa-lock fs-5" style="color: red;"></i>
                            <p class="m-0" style="font-size:10px; color:red;">Banned</p>
                        </a>

                        <!-- Conformation Modal -->
                        <div class="modal fade" id="unbanModal-@i" tabindex="-1" role="dialog" aria-labelledby="unbanModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="unbanModalLabel">Unban User</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to unban this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-primary" asp-action="UnbanUser" asp-route-id="@Model[i].Id" asp-route-role="@TempData["role"]">Yes</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>

                @* info button *@
                <td class="align-middle">
                    <div class="d-flex justify-content-end gap-2 me-3">
                        <a class="btn" asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model[i].Id">
                            <i class="fa-solid fa-circle-info fs-5" style="color: #09133A;" onmouseover="this.style.color='black';" onmouseout="this.style.color='#09133A';"></i>
                        </a>
                    </div>
                </td>

            </tr>
        }


    </table>
}