@using System.Security.Claims
@model Rentopolis.Models.Entitiy.FullInfoViewModel




@* 
<h1>My Profile</h1>

<div asp-validation-summary="All" class="text-danger">
    @if (TempData["errorMessage"] != null)
    {
        <p>@TempData["errorMessage"]</p>
    }
</div> 


<div>
    <div>
        <img src="@Model.ProfilePicUrl" alt="@Model.FirstName @Model.LastName's profile picture" style="width:350px; border-radius: 50%;" />
    </div>

    <div>
        <p>User Id: @Model.Id</p>
    </div>

    <div>
        <p>First Name: @Model.FirstName</p>
    </div>

    <div>
        <p>Last Name: @Model.LastName</p>
    </div>

    <div>
        <p>Email: @Model.Email</p>
    </div>

    <div>
        <p>Username: @Model.UserName</p>
    </div>

    <div>
        <p>Role: @User.FindFirstValue(ClaimTypes.Role)</p>
    </div>

    <br />

    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Account" asp-action="EditProfile" asp-route-id="@Model.Id">Edit</a>
    </div>

</div>
*@



@* <div class="shadow p-3 mb-5 bg-body rounded">
</div> *@

<div class="p-5 mb-5 rounded" style="box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.23);">

    <h1>My Profile</h1>

    <div class="container d-flex justify-content-center align-items-center gap-5 p-4" style="height: 50vh;">
        @* pic *@
        <div>
            <img src="@Model.ProfilePicUrl" alt="@Model.FirstName @Model.LastName's profile picture" style="width:250px; height: 250px; border-radius: 50%;" />
        </div>
        
        @* info *@
        <div class="flex-grow-1">
            
            <div>
                <p class="fw-light fst-italic" style="font-size: 13px;">User Id = @Model.Id</p>
            </div>

            <div class="d-flex justify-content-start align-items-center gap-2">
                <p>Full Name:  </p>
                <p class="fw-bold fs-5">@Model.FirstName @Model.LastName </p>
            </div>

            <div class ="d-flex justify-content-start align-items-center gap-2">
                <p>Username: </p>
                <p class="fw-bold fs-5">@Model.UserName</p>
            </div>

            <div class="d-flex justify-content-start align-items-center gap-2">
                <p>Email: </p>
                <p class="fw-bold fs-5">@Model.Email</p>
            </div>

            <div class="d-flex justify-content-start align-items-center gap-2">
                <p>Registered as: </p>
                <p class="fw-bold fs-5">@User.FindFirstValue(ClaimTypes.Role)</p>
            </div>

            <br />

            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" asp-controller="Account" asp-action="EditProfile" asp-route-id="@Model.Id">Edit Profile</a>
            </div>

        </div>


    </div>

</div>