@using System.Security.Claims
@using Rentopolis.Models.Data
@model Rentopolis.Models.Entitiy.FullInfoViewModel


<div class="p-5 my-5 rounded border border-1" style="box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.23); margin-left:120px; margin-right:120px;">

    @* displaying success messages *@
    @if (TempData.ContainsKey("successMessage"))
    {
        <div class="alert alert-success fade show px-4" role="alert" style="font-size:14px;" id="fadingAlert">
            <p class="m-0">
                <i class="fa-solid fa-circle-check"></i>
                @TempData["successMessage"]
            </p>
        </div>

        TempData.Remove("successMessage");
    }

    @* displaying errors messages *@
    @if (TempData.ContainsKey("deletionError"))
    {
        <div class="alert alert-danger alert-dismissible fade show px-4" role="alert" style="font-size:14px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="m-0">
                <i class="fa-solid fa-triangle-exclamation"></i>
                @TempData["deletionError"]
            </p>
        </div>

        TempData.Remove("deletionError");
    }


    <div class="d-flex justify-content-center align-items-start gap-5 px-4">

        @* left side *@
        <div class="col-md-4">

            @* pic *@
            <img src="@Model.ProfilePicUrl" alt="@Model.FirstName @Model.LastName's profile picture" style="width:240px; height: 240px; border-radius: 50%;" class="mb-3" />

            @* id *@
            <p class="text-muted" style="font-size: 10px;"><i class="fa-solid fa-id-card-clip me-1"></i>@Model.Id</p>

            @* buttons *@
            <div class="d-flex flex-column justify-content-center align-items-center gap-3">

                @* edit button *@
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="EditProfile" asp-route-id="@Model.Id">
                    <i class="fa-solid fa-pen me-2"></i>
                    Edit Profile
                </a>
                @if (User.IsInRole("Landlord") || User.IsInRole("Tenant"))
                {
                    @* terminate account button *@
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#terminateAccountModal" style="font-size:14px">
                        <i class="fa-solid fa-user-xmark me-2"></i>
                        Terminate
                    </button>

                    <!-- Terminate Account Modal -->
                    <div class="modal fade" id="terminateAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="terminateAccountModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="terminateAccountModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to terminate your account?</p>
                                </div>
                                <div class="modal-footer gap-2">
                                    <a class="btn btn-danger" asp-action="DeleteProfile" asp-controller="Account" asp-route-id="@Model.Id">Yes</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        
        @* right side *@
        <div class="col-md-8">

            @* header *@
            <h3 class="mb-4 fw-bold"><i class="fa-solid fa-user me-1"></i>My Profile</h3>

            <hr />

            @* first + last name*@
            <div class="d-flex mb-2">

                @* first name *@
                <div class="flex-grow-1">
                    <p class="text-muted mb-0" style="font-size: 12px;">First Name</p>
                    <h6>@Model.FirstName</h6>
                </div>

                @* last name *@
                <div class="flex-grow-1">
                    <p class="text-muted mb-0" style="font-size: 12px;">Last Name</p>
                    <h6>@Model.LastName</h6>
                </div>
            </div>

            @* email *@
            <div class="mb-3">
                <p class="text-muted mb-0" style="font-size: 12px;">Email Address</p>
                <h6>@Model.Email</h6>
            </div>

            @* username *@
            <div class="mb-4">
                <p class="text-muted mb-0" style="font-size: 12px;">User Name</p>
                <h6>@Model.UserName</h6>
            </div>

            <hr />

            @* registered as *@
            <div class="mb-3">
                <p class="text-muted mb-0" style="font-size: 12px;">Registered as</p>
                <h6>@User.FindFirstValue(ClaimTypes.Role)</h6>
            </div>

            @* user roles *@
            <div class="mb-4">
                <p class="text-muted mb-0" style="font-size: 12px;">User Permissions</p>
                <ul style="font-size:13px">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>View all Information</li>
                        <li>Create and Delete Managers</li>
                        <li>Delete Landlords</li>
                        <li>Delete Tenants</li>
                        <li>Delete Properties</li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li>View Reported Users</li>
                        <li>Ban / Unban Reported Users</li>
                        <li>Approve / Reject Properties</li>
                    }
                    @if (User.IsInRole("Landlord"))
                    {
                        <li>Post a Property</li>
                        <li>Accept / Reject Rental Requests</li>
                        <li>Report Tenants</li>
                    }
                    @if (User.IsInRole("Tenant"))
                    {
                        <li>Search Properties</li>
                        <li>View Property Details</li>
                        <li>Send Rental Requests</li>
                        <li>Report Landlords</li>
                    }
                </ul>
            </div>


            @if (!User.IsInRole("Admin") && !User.IsInRole("Manager"))
            {
                <hr />

                @* report count *@
                <div class="d-flex justify-content-end align-items-center gap-2">
                    <p class="text-muted" style="font-size:12px;">
                        Total Reports(@((ViewBag.Reports)?.Count ?? 0))
                    </p>
                </div>

                @* reports *@
                <div class="mb-4">
                    <p class="text-muted mb-0" style="font-size: 12px;">Complaints on user</p>
                        @if (ViewBag.Reports != null && ((List<ReportedUsers>)ViewBag.Reports).Count > 0)
                        {
                            <ul style="font-size:13px">
                                @foreach (var report in ViewBag.Reports)
                                {
                                    <li>@report.Message</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p class="text-center w-100" style="font-size: 14px;"s>No reports found on your profile!</p>
                        }
                </div>

                <hr />
            }

        </div>

    </div>

</div>