@using System.Security.Claims
@model Rentopolis.Models.Entitiy.FullInfoViewModel

<div class="p-5 mb-5 rounded" style="box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.23);">

    <h1>User Profile</h1>

    <div class="container d-flex justify-content-center align-items-center gap-5 p-4" style="height: 50vh;">
        @* pic *@
        <div>
            <img src="@Model.ProfilePicUrl" alt="@Model.FirstName @Model.LastName's profile picture" style="width:250px; height: 250px; border-radius: 50%;" />
        </div>

        @* info *@
        <div class="flex-grow-1">

            @* id *@
            <div>
                <p class="fw-light fst-italic" style="font-size: 13px;">User Id = @Model.Id</p>
            </div>

            @* full name *@
            <div class="d-flex justify-content-start align-items-center gap-2">
                <p>Full Name:  </p>
                <p class="fw-bold fs-5">@Model.FirstName @Model.LastName </p>
            </div>

            @* username *@
            <div class="d-flex justify-content-start align-items-center gap-2">
                <p>User Name: </p>
                <p class="fw-bold fs-5">@Model.UserName</p>
            </div>

            @* email *@
            <div class="d-flex justify-content-start align-items-center gap-2 mb-4">
                <p>Email: </p>
                <p class="fw-bold fs-5">@Model.Email</p>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="d-flex justify-content-end">
                    <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                        <i class="fa-solid fa-trash fs-5 me-2"></i>
                        Delete User
                    </a>
                </div>

                <!-- Confirmation Modal -->
                <div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this user?
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteManager" asp-route-id="@Model.Id">Yes</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>


    </div>

</div>