@using System.Security.Claims
@model Rentopolis.Models.Entitiy.FullInfoViewModel

<h1>User Profile</h1>

<div>
    @* profile *@
    <div>
        <img src="@Model.ProfilePicUrl" alt="@Model.FirstName @Model.LastName's profile picture" style="width:350px; height: 350px; border-radius: 50%;" />
    </div>

    @* id *@
    <div>
        <p>User Id: @Model.Id</p>
    </div>

    @* first name *@
    <div>
        <p>First Name: @Model.FirstName</p>
    </div>

    @* last name *@
    <div>
        <p>Last Name: @Model.LastName</p>
    </div>

    @* email *@
    <div>
        <p>Email: @Model.Email</p>
    </div>

    @* user name *@
    <div>
        <p>Username: @Model.UserName</p>
    </div>

    @* role *@
    <div>
        <p>Role: @User.FindFirstValue(ClaimTypes.Role)</p>
    </div>

</div>