@model List<Rentopolis.Models.Data.AppUser>

<h1>@TempData["role"]s</h1>

<div asp-validation-summary="All" class="text-danger">
    @if (TempData["deletionErrors"] != null)
    {
        <p>@TempData["deletionErrors"]</p>
    }
</div>

@if (TempData["role"].ToString() == "Manager")
{
    <a class="btn btn-secondary mt-3 mb-3" asp-controller="Admin" asp-action="NewManager">Create Manager Account</a>
}


<br />

<table class="table table-sm table-bordered">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td colspan="2">Action</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-success" asp-controller="Account" asp-action="UserProfile" asp-route-id="@user.Id">Detail</a>
                <a class="btn btn-danger" asp-action="DeleteManager" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
    }
</table>
