@model List<Rentopolis.Models.Data.AppUser>

@{
    int propertyId = ViewBag.PropertyId;
}

@* page title + alert messages *@
<div class="d-flex align-items-center mt-5">

    <div class="d-flex flex-column flex-grow-1">
        <h4 class="fw-bold">Appliacants List</h4>
        <p style="font-size:14px;">This is the list of Tenants who sent a rent request!</p>
    </div>

    @* alert messages *@
    <div class="d-flex flex-column flex-grow-1">

        @* displaying success message *@
        @if (TempData.ContainsKey("successMessage"))
            {
                <div class="alert alert-success fade show border-2 mb-0" role="alert" id="fadingAlert">
                    <p class="mb-0 px-3" style="font-size:14px;">
                        <i class="fa-solid fa-circle-check"></i>
                        @TempData["successMessage"]
                    </p>
                </div>

                TempData.Remove("successMessage");
            }   

        @* displaying failure messages *@
        @if (TempData.ContainsKey("failureMessage"))
        {
            <div class="alert alert-danger fade show border-2 mb-0" role="alert" id="fadingAlert">
                <p class="mb-0 px-3" style="font-size:14px;">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    @TempData["failureMessage"]
                </p>
            </div>

            TempData.Remove("failureMessage");
        }

    </div>
</div>


<br />


@* if requests have NOT been made *@
@if (Model.Count == 0)
{
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/Images/Assets/empty.png" alt="empty-image" class="w-25" />
        <h4>No requestes available!</h4>
        <p style="font-size:14px;">No requests were made for rent so far.</p>
    </div>
}

@* if requests HAVE been made *@
@if (Model.Count != 0)
{
    <table class="table table-hover">

        <tr class="table-dark" style="height:50px; font-size:14px;">
            <th class="align-middle ps-4">User Id</th>
            <th class="align-middle">User</th>
            <th class="align-middle">Full Name</th>
            <th class="align-middle">Email</th>
            @if (User.IsInRole("Landlord")){ <th></th> }
            @if (User.IsInRole("Admin"))
            {
                <th class="align-middle">Status</th>
            }
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr style="font-size:15px">

                @* user id *@
                <td class="align-middle ps-4">
                    <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model[i].Id" style="text-decoration:none; color:black;">
                        <p class="fw-light mb-0" style="font-size:13px">@Model[i].Id</p>
                    </a>
                </td>

                @* profile *@
                <td class="align-middle">
                    <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model[i].Id" style="text-decoration:none; color:black;">
                        <div class="d-flex justify-content-start align-items-center gap-2">
                            <img src="@Model[i].ProfilePicture" alt="profile pic" style="width:35px; height:35px; border-radius:50%;" />
                            @Model[i].UserName
                        </div>
                    </a>
                </td>

                @* full name *@
                <td class="align-middle">
                    <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model[i].Id" style="text-decoration:none; color:black;">
                        <div class="d-flex justify-content-start align-items-center gap-1">
                            <p class="mb-0">@Model[i].FirstName</p>
                            <p class="mb-0">@Model[i].LastName</p>
                        </div>
                    </a>
                </td>

                @* email *@
                <td class="align-middle">
                    <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model[i].Id" style="text-decoration:none; color:black;">
                        <p class="mb-0">@Model[i].Email</p>
                    </a>
                </td>

                @* accept button + cancel button + report button *@
                @if (User.IsInRole("Landlord"))
                {
                    <td>
                        <div class="d-flex justify-content-end gap-2 me-2">

                            @* if no one was accepted *@
                            @if (ViewBag.UserStatuses[Model[i].Id] != "Accepted" && ViewBag.UserStatuses[Model[i].Id] != "Rejected")
                            {
                                @* accept request button *@
                                <a class="btn btn-outline-success d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#acceptConfirmationModal-@i">
                                    <i class="fa-solid fa-thumbs-up fs-5"></i>
                                    <p class="m-0" style="font-size:10px;">Accept</p>
                                </a>

                                <!-- Accept Confirmation Modal -->
                                <div class="modal fade" id="acceptConfirmationModal-@i" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="acceptConfirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="acceptConfirmationModalLabel">Terms and Agreement for Landlords Accepting Rental Requests</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>By accepting a rental request from a tenant, you (the "Landlord") agree to the following terms and conditions:</p>
                                                <ol>
                                                    <li>Commitment and Honesty: As a Landlord, you are expected to honor your commitment to rent the property to the tenant once the rental request has been accepted. Going back on your words without a valid reason is considered a breach of trust and may result in consequences, including being reported and potentially facing a ban from the rental platform or application.</li>
                                                    <li>Exclusive Rental: Once the property is rented to a tenant through the platform or application, you are not allowed to rent the same property to another tenant outside of the system. Renting the property to an unknown tenant while it is already occupied by an existing tenant is strictly prohibited. Any attempts to do so may result in being reported and facing potential penalties, including a ban from the platform or application.</li>
                                                    <li>Compliance with Terms and Policies: As a Landlord, you are expected to comply with the terms, policies, and guidelines set by the rental platform or application. This includes maintaining accurate and up-to-date property listings, providing necessary information to tenants, and adhering to any rental regulations and obligations.</li>
                                                    <li>Timely Communication and Support: It is essential to maintain timely and effective communication with the tenant throughout the rental process. Responding to inquiries, addressing concerns, and providing necessary support are crucial aspects of maintaining a positive landlord-tenant relationship.</li>
                                                    <li>Property Maintenance and Safety: As a Landlord, you are responsible for ensuring the proper maintenance and safety of the rented property. This includes addressing any necessary repairs promptly, complying with applicable building codes and safety regulations, and providing a habitable and secure living environment for the tenant.</li>
                                                    <li>Termination and Eviction: The rental agreement may be terminated or eviction may be initiated according to the terms specified in the agreement or as permitted by law. However, any terminations or evictions should be carried out in a fair and legal manner, following the due process and laws applicable to your jurisdiction.</li>
                                                </ol>
                                                <p>Please carefully read and understand the terms and conditions outlined above before accepting any rental request from a tenant. By proceeding with the acceptance, you acknowledge and agree to be bound by these terms and conditions.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-primary" asp-action="AcceptRequest" asp-route-propertyId="@propertyId" asp-route-tenantId="@Model[i].Id">Accept</a>
                                                @* <a class="btn btn-primary" asp-action="AcceptRequest" asp-route-propertyId="@propertyId" asp-route-tenantId="@ViewBag.UserIds[user.Id]">Accept</a> *@
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            @* if is already accepted *@
                            @if (ViewBag.UserStatuses[Model[i].Id] == "Accepted")
                            {
                                @* accepted display *@
                                <a class="btn btn-success d-flex flex-column justify-content-center disabled" href="#">
                                    <i class="fa-solid fa-thumbs-up fs-5"></i>
                                    <p class="m-0" style="font-size:10px;">Accepted</p>
                                </a>

                                @* undo acception button *@
                                <a class="btn btn-outline-danger d-flex flex-column justify-content-center" style="padding:12px;" data-bs-toggle="modal" data-bs-target="#cancelConfirmationModal-@i">
                                    <i class="fa-solid fa-xmark fs-5"></i>
                                    <p class="m-0" style="font-size:10px;">Cancel</p>
                                </a>

                                <!-- Cancel Confirmation Modal -->
                                <div class="modal fade" id="cancelConfirmationModal-@i" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="cancelConfirmationModalLabel">Terms and Agreement for Landlords Cancelling Accepted Rental Requests</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>By cancelling an already accepted rental request, you (the "Landlord") agree to the following terms and conditions:</p>
                                                <ol>
                                                    <li>Valid Reason for Cancellation: As a Landlord, you must have a valid reason for cancelling an already accepted rental request. Cancellation should not be done arbitrarily or based on personal preferences. Valid reasons may include unforeseen circumstances, property unavailability, or significant changes in the rental conditions. It is important to provide a clear and reasonable explanation for the cancellation.</li>
                                                    <li>Notification and Timely Communication: If you need to cancel an already accepted rental request, it is crucial to notify the tenant as soon as possible. Timely communication is essential to minimize inconvenience for the tenant and allow them to explore alternative options. Provide a clear explanation for the cancellation, including the reason and any relevant details.</li>
                                                    <li>Updated Applicant List: Upon cancelling an accepted rental request, you agree that the applicant list will be updated accordingly. All previously rejected requests should be changed to a "Waiting" state, indicating that the applicants are once again eligible for consideration. This ensures fairness and transparency in the rental process.</li>
                                                    <li>Good Faith and Fair Treatment: Even in case of cancellation, it is important to act in good faith and treat all applicants with fairness and respect. Avoid discriminatory practices or favoritism when considering alternative rental options or reevaluating applications.</li>
                                                    <li>Consideration of Tenant's Situation: While cancelling an accepted rental request, take into consideration the situation and any inconvenience caused to the tenant. If possible, offer assistance or suggestions to help the tenant find an alternative housing solution.</li>
                                                </ol>
                                                <p>Please carefully read and understand the terms and conditions outlined above before cancelling any accepted rental request. By proceeding with the cancellation, you acknowledge and agree to be bound by these terms and conditions.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-primary" asp-action="RevertRequest" asp-route-propertyId="@propertyId" asp-route-tenantId="@Model[i].Id">Agree</a>
                                                @* <a class="btn btn-primary" asp-action="RevertRequest" asp-route-propertyId="@propertyId" asp-route-tenantId="@ViewBag.UserIds[user.Id]">Agree</a> *@
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* report user button *@
                                <a class="btn btn-outline-dark d-flex flex-column justify-content-center" href="#" data-bs-toggle="modal" data-bs-target="#reportModal-@i" style="padding:14px;">
                                    <i class="fa-solid fa-flag fs-5"></i>
                                    <p class="m-0" style="font-size:10px;">Report</p>
                                </a>

                                <!-- Report Modal -->
                                <div class="modal fade" id="reportModal-@i" data-bs-backdrop="static" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <form method="post" method="post" asp-controller="Account" asp-action="ReportUser" asp-route-userId="@Model[i].Id" asp-route-propertyId="@propertyId">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="reportModalLabel">Report tenant</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="report-text" class="col-form-label">Message:</label>
                                                        <textarea class="form-control" id="report-text" name="message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-dark">Send</button>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            @* if rejected *@
                            @if (ViewBag.UserStatuses[Model[i].Id] == "Rejected")
                            {
                                @* rejected display *@
                                <a class="btn btn-danger d-flex flex-column justify-content-center disabled" href="#">
                                    <i class="fa-solid fa-thumbs-down fs-5"></i>
                                    <p class="m-0" style="font-size:10px;">Rejected</p>
                                </a>
                            }
                        
                        </div>
                    </td>
                }

                @* accepted status + rejected status + waiting status *@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @* if accepted *@
                        @if (ViewBag.UserStatuses[Model[i].Id] == "Accepted")
                        {
                            <a class="btn btn-success d-flex flex-column justify-content-center disabled" href="#">
                                <i class="fa-solid fa-thumbs-up fs-5"></i>
                                <p class="m-0" style="font-size:10px;">Accepted</p>
                            </a>
                        }
                        
                        @* if rejected *@
                        @if (ViewBag.UserStatuses[Model[i].Id] == "Rejected")
                        {
                            <a class="btn btn-danger d-flex flex-column justify-content-center disabled" href="#">
                                <i class="fa-solid fa-thumbs-down fs-5"></i>
                                <p class="m-0" style="font-size:10px;">Rejected</p>
                            </a>
                        }

                        @* if waiting *@
                        @if (ViewBag.UserStatuses[Model[i].Id] == "Waiting")
                        {
                            <a class="btn btn-dark d-flex flex-column justify-content-center disabled" href="#">
                                <i class="fa-solid fa-hourglass-half fs-5"></i>
                                <p class="m-0" style="font-size:10px;">Waiting</p>
                            </a>
                        }
                    
                    </td>
                }
            
            </tr>
        }

    </table>
}