@model List<Rentopolis.Models.Data.AppUser>

<div class="d-flex align-items-end">

    <div class="d-flex flex-column flex-grow-1">
        <h1>Appliacants</h1>
        <p>These is the list of Tenants who sent a rent request!</p>
    </div>

    <div class="d-flex flex-column flex-grow-1">
        @* search bar *@
        @* <form method="get" asp-action="AllUsers">
            <div class="input-group mb-3">
                <input type="hidden" name="role" value="@TempData["role"]">
                <input type="text" class="form-control ps-4" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="First name, Last name, User name, Email..." aria-label="Search" aria-describedby="button-addon2" autocomplete="off" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23);font-size:15px;">
                <button class="btn btn-dark" type="submit" id="button-addon2" style="padding: 8px 20px;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form> *@
    </div>
</div>

<br />


@* if requests have NOT been made *@
@if (Model.Count == 0)
{
    <div class="d-flex justify-content-center" style="margin-top:100px">
        <h4>No requests yet!</h4>
    </div>
}

@* if requests HAVE been made *@
@if (Model.Count != 0)
{
    <table class="table table-hover">
        <tr class="table-dark" style="height:50px">
            <th>User Id</th>
            <th>User</th>
            <th>Full Name</th>
            <th>Email</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                @* user id *@
                <td>
                    <p class="fw-light" style="font-size:13px">@user.Id</p>
                </td>

                @* profile *@
                <td>
                    <div class="d-flex justify-content-start align-items-center gap-2">
                        <img src="@user.ProfilePicture" alt="profile pic" style="width:35px; height:35px; border-radius:50%;" />
                        @user.UserName
                    </div>
                </td>

                @* full name *@
                <td>
                    <div class="d-flex justify-content-start align-items-center gap-1">
                        <p>@user.FirstName</p>
                        <p>@user.LastName</p>
                    </div>
                </td>

                @* email *@
                <td>@user.Email</td>
            </tr>
        }
    </table>
}