@model Rentopolis.Models.Data.Property

@{
    var propertyGalleryList = Model.propertyGallery.ToList();
    int ApplicantCount = ViewBag.ApplicantCount;
    bool IsSaved = ViewBag.IsSaved;
    bool IsRequested = ViewBag.IsRequested;
    bool IsAccepted = ViewBag.IsAccepted;
    bool IsRejeceted = ViewBag.IsRejeceted;
}

@* displaying success message *@
@if (TempData.ContainsKey("successMessage"))
{
    <div class="alert alert-success fade show position-fixed bottom-0 end-0 border-2" role="alert" style="margin-bottom: 40px; margin-right: 40px;" id="fadingAlert">
        <p class="m-0 py-2 px-3">
            <i class="fa-solid fa-circle-check"></i>
            @TempData["successMessage"]
        </p>
    </div>

    TempData.Remove("successMessage");
}

@* displaying errors messages *@
@if (TempData.ContainsKey("failureMessage"))
{
    <div class="alert alert-danger alert-dismissible fade show px-4" role="alert" style="font-size:14px;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p class="m-0">
            <i class="fa-solid fa-triangle-exclamation"></i>
            @TempData["failureMessage"]
        </p>
    </div>

    TempData.Remove("failureMessage");
}


<div class="d-flex flex-column gap-3 my-5">

    <h3 class="fw-bold">Property Details</h3>

    <div class="container">
        <div class="row">

            @* CAROUSEL *@
            <div id="carouselExampleIndicators" class="carousel slide col-md-4" data-bs-ride="carousel">
                @* indicators *@
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                    @for (int i = 1; i < Model.propertyGallery.Count()+1; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i"></button>
                    }
                </div>
                @* images *@
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@Model.ImageUrl" class="d-block w-100" alt="Main Image">
                    </div>
                    @for (int i = 0; i < Model.propertyGallery.Count(); i++)
                    {
                        <div class="carousel-item">
                            <img src="@propertyGalleryList[i].URL" class="d-block w-100" alt="Gallery Image">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            @* DETAIL *@
            <div class="col-md-8">
                @* address *@
                <div class="mb-3">
                    <p class="m-0 text-muted" style="font-size:12px;">
                        <i class="fa-solid fa-map-location-dot me-1"></i>
                        Address
                    </p>
                    <h5>@Model.Address</h5>
                </div>

                @* sub city *@
                <div class="mb-3">
                    <p class="m-0 text-muted" style="font-size:12px;">
                        <i class="fa-solid fa-city me-1"></i>
                        Sub-City
                    </p>
                    <h6>@Model.City</h6>
                </div>

                @* Features *@
                <div class="mb-4">
                    <p class="m-0 text-muted" style="font-size:12px;">
                        <i class="fa-solid fa-circle-info me-1"></i>
                        Features
                    </p>
                    <p class="m-0" style="font-size:15px;">@Model.Features</p>
                </div>

                @* #Bedroom, #Bathroom, Area, Price *@
                <div class="row">
                    @* bedroom *@
                    <div class="col-md-3">
                        <p class="m-0 text-muted" style="font-size:12px;">
                            <i class="fa-solid fa-bed me-1"></i>
                            Bedroom
                        </p>
                        <h6>@Model.Bedroom</h6>
                    </div>
                    @* bathroom *@
                    <div class="col-md-3">
                        <p class="m-0 text-muted" style="font-size:12px;">
                            <i class="fa-solid fa-bath me-1"></i>
                            Bathroom
                        </p>
                        <h6>@Model.Bathroom</h6>
                    </div>
                    @* area *@
                    <div class="col-md-3">
                        <p class="m-0 text-muted" style="font-size:12px;">
                            <i class="fa-solid fa-chart-area me-1"></i>
                            Area
                        </p>
                        <h6>@Model.Area sq km</h6>
                    </div>
                    @* price *@
                    <div class="col-md-3">
                        <p class="m-0 text-muted" style="font-size:12px;">
                            <i class="fa-solid fa-dollar-sign me-1"></i>
                            Price
                        </p>
                        <h6>@Model.PricePerMonth ETB</h6>
                    </div>
                </div>

                <hr class="my-3">

                @* Approval + Rental *@
                <div class="row mb-3">
                    @* Approval Status *@
                    <div class="col-md-6">
                        <p class="m-0 text-muted" style="font-size:12px;">Approval Status</p>
                        @if(Model.IsApproved == false && Model.IsDeleted == false){
                            <h6 class="text-secondary">
                                <i class="fa-solid fa-hourglass-half me-1"></i>
                                Waiting
                            </h6>
                        }
                        @if (Model.IsApproved == true && Model.IsDeleted == false)
                        {
                            <h6 class="text-success">
                                <i class="fa-regular fa-circle-check me-1"></i>
                                Approved
                            </h6>
                        }
                        @if (Model.IsApproved == false && Model.IsDeleted == true)
                        {
                            <h6 class="text-danger">
                                <i class="fa-regular fa-circle-xmark me-1"></i>
                                Rejected
                            </h6>
                        }
                    </div>

                    @* Rental status *@
                    <div class="col-md-6">
                        <p class="m-0 text-muted" style="font-size:12px;">Rental Status</p>
                        @if (Model.IsRented == false)
                        {
                            <h6 class="text-secondary">
                                <i class="fa-solid fa-person-circle-xmark me-1"></i>
                                Not Rented
                            </h6>
                        }
                        @if (Model.IsRented == true)
                        {
                            <h6 class="text-success">
                                <i class="fa-solid fa-person-circle-check me-1"></i>
                                Rented
                            </h6>
                        }
                    </div>

                </div>

                @* owner info + applicant list + tenant info *@
                <div class="row">
                @* owner info *@
                @if (!User.IsInRole("Landlord"))
                {
                    <div class="col-md-4">
                        <p class="mb-2 text-muted" style="font-size:12px;">Landlord</p>
                        <p class="m-0">
                            <a class="btn btn-outline-dark" asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model.LandlordId" style="font-size:14px;">
                                Owner Information
                                <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i>
                            </a>
                        </p>
                    </div>
                }

                @* applicant list *@
                @if (User.IsInRole("Admin") || User.IsInRole("Landlord"))
                {
                    <div class="col-md-4">
                        <p class="mb-2 text-muted" style="font-size:12px;">Applicants (@ApplicantCount)</p>
                        <p class="m-0">
                            <a class="btn btn-outline-dark @((ApplicantCount == 0) ? "disabled" : "")" asp-controller="Property" asp-action="Applicants" asp-route-propertyId="@Model.Id" style="font-size:14px;">
                                View Applicant List
                                <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i>
                            </a>
                        </p>
                    </div>
                }

                @* tenant info *@
                @if (User.IsInRole("Admin") || User.IsInRole("Landlord"))
                {
                    <div class="col-md-4">
                        <p class="mb-2 text-muted" style="font-size:12px;">Tenant</p>
                        <p class="m-0">
                                <a class="btn btn-outline-dark @((Model.TenantId == null)? "disabled": "")" asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model.TenantId" style="font-size:14px;">
                                Tenant Information
                                <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i>
                            </a>
                        </p>
                    </div>
                }
                </div>

                <hr class="my-3">

                @* posted date + approved date + buttons *@
                <div class="row mb-3">

                    @* posted data + approved date + rented date *@
                    <div class="col-md-4">
                        @* posted date *@
                        <p class="m-0 text-muted" style="font-size:12px;">
                            <i class="fa-regular fa-calendar me-1"></i>
                            Posted date
                        </p>
                        <p style="font-size:13px;">@Model.AddedDate</p>

                        @* approved date *@
                        <p class="m-0 text-muted" style="font-size:12px;">
                            <i class="fa-regular fa-calendar-check me-1"></i>
                            Approved date
                        </p>
                        @if(Model.ApprovedDate != null)
                        {
                            @* if approved *@
                            <p style="font-size:13px;">@Model.ApprovedDate</p>
                        }
                        @if (Model.ApprovedDate == null)
                        {
                            @* if not approved yet *@
                            <p style="font-size:13px;">Not approved yet</p>
                        }
                        
                        @* rented date *@
                        @if(Model.RentedDate != null)
                        {
                            <p class="m-0 text-muted" style="font-size:12px;">
                                <i class="fa-regular fa-calendar-plus me-1"></i>
                                Rented date
                            </p>
                            <p style="font-size:13px;">@Model.RentedDate</p>
                        }
                    </div>

                    @* buttons *@
                    <div class="col-md-8 d-flex justify-content-end align-self-end gap-3">

                        @* delete property button for admin *@
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</a>

                            <!-- Confirmation Modal -->
                            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this property?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" asp-action="DeleteProperty" asp-route-id="@Model.Id" asp-route-role="Admin">
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* approve and reject property buttons for managers *@
                        @if (User.IsInRole("Manager"))
                        {
                            <a class="btn btn-success" asp-action="Approve" asp-route-id="@Model.Id">Approve</a>
                            <a class="btn btn-danger" asp-action="Reject" asp-route-id="@Model.Id">Reject</a>
                        }

                        @* edit and delete buttons for landlord *@
                        @if (User.IsInRole("Landlord"))
                        {
                            @if (Model.IsApproved == false && Model.IsDeleted == true)
                            {
                                <a class="btn btn-outline-success" href="#" data-bs-toggle="modal" data-bs-target="#resubmitConfirmationModal">Resubmit</a>
                                <!-- Resubmit confirmation Modal -->
                                <div class="modal fade" id="resubmitConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="resubmitConfirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="resubmitConfirmationModalLabel">Confirm Resubmission</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to resubmit this property?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post" asp-action="ReapplyProperty" asp-route-propertyId="@Model.Id">
                                                    <button type="submit" class="btn btn-success">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <a class="btn btn-primary" asp-action="EditProperty" asp-route-id="@Model.Id">Edit</a>

                            <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</a>
                            <!-- Delete confirmation Modal -->
                            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this property?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" asp-action="DeleteProperty" asp-route-id="@Model.Id" asp-route-role="Landlord">
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* save/unsave and request/cancel request buttons for tenant *@
                        @if (User.IsInRole("Tenant"))
                        {
                            @* SAVE BUTTON *@
                            <form method="post" asp-action="SaveUnsaveProperty" asp-route-propertyId="@Model.Id" asp-route-view="Detail">
                                @if(IsSaved){
                                    <button class="btn btn-danger" type="submit" style="width:90px;">
                                        <i class="fa-solid fa-heart fs-5"></i>
                                        <p class="m-0" style="font-size:12px;">Saved</p>
                                    </button>
                                }
                                @if(!IsSaved){
                                    <button class="btn btn-outline-danger" type="submit" style="width:90px;">
                                        <i class="fa-regular fa-heart fs-5"></i>
                                        <p class="m-0" style="font-size:12px;">Save</p>
                                    </button>
                                }
                            </form>

                            @* REQUEST STATUS AND BUTTONS *@
                            @* if accepted *@
                            @if (IsAccepted && !IsRejeceted)
                            {
                                @* accepted display *@
                                <div class="btn btn-success">
                                    <i class="fa-regular fa-face-smile-beam fs-5"></i>
                                    <p class="m-0" style="font-size:12px;">Request accepted!</p> 
                                </div>

                                @* make payment button *@
                                <form method="post" asp-controller="Account" asp-action="Payment">

                                    <input name="price" value="@Model.PricePerMonth" hidden />
                                    <input name="propertyId" value="@Model.Id" hidden />

                                    <button type="submit" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-hand-holding-dollar fs-5"></i>
                                        <p class="m-0" style="font-size:12px;">Pay Rent</p>
                                    </button>

                                </form>
                            }

                            @* if rejected *@
                            @if (IsRejeceted && !IsAccepted)
                            {
                                <div class="btn btn-danger" style="width:250px;">
                                    <i class="fa-regular fa-face-frown-open fs-3"></i>
                                    <p class="m-0" style="font-size:12px;"><strong>Sorry!</strong> Your request was rejected!</p>
                                </div>
                            }

                            @* if not accepted or rejected *@
                            @if (!IsAccepted && !IsRejeceted)
                                {
                                    <form method="post" asp-action="RequestRent" asp-route-propertyId="@Model.Id">
                                        @* if waiting *@
                                        @if (IsRequested)
                                        {
                                            <button class="btn btn-dark" style="width:90px;" onclick="showCancelConfirmationModal(event)">
                                                <i class="fa-solid fa-house-medical-circle-xmark fs-5"></i>
                                                <p class="m-0" style="font-size:12px;">Cancel</p>
                                            </button>

                                            <!-- Cancel Confirmation Modal -->
                                            <div class="modal fade" id="cancelConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="cancelConfirmationModalLabel">Cancel conformation</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to cancel the request?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="submit">Yes</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @* if not applied yet *@
                                        @if (!IsRequested)
                                        {
                                            <button class="btn btn-outline-success" style="width:90px;" onclick="showRequestConfirmationModal(event)">
                                                <i class="fa-solid fa-house-circle-check fs-5"></i>
                                                <p class="m-0" style="font-size:12px;">Request</p>
                                            </button>

                                            <!-- Request Confirmation Modal -->
                                            <div class="modal fade" data-bs-backdrop="static" id="requestConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="requestConfirmationModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="requestConfirmationModalLabel">Terms and Agreement for Renting Property</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>By submitting a request to rent the specified property, you (the "Tenant") agree to the following terms and conditions:</p>
                                                            <ol>
                                                                <li>Contact and Payment: Upon acceptance of your rental request by the landlord, you are required to contact the landlord and initiate the rental agreement process within one week. Failure to do so may result in the cancellation of your request and potential consequences, including being banned from future rental opportunities.</li>
                                                                <li>Monthly Payment: As a Tenant, you are obligated to pay <strong>@Model.PricePerMonth ETB</strong>, as agreed upon with the landlord, every month. The payment should be made in a timely manner, by the due date specified in the rental agreement.</li>
                                                                <li>Prohibition of Subletting: Under no circumstances are you allowed to sublet or re-rent the property to other individuals. The rental agreement is strictly between you and the landlord, and any unauthorized subletting can lead to immediate termination of the agreement and legal consequences.</li>
                                                                <li>Maintenance and Care: As a Tenant, you are responsible for the proper maintenance and care of the rented property. This includes keeping the property clean, reporting any damages or maintenance issues to the landlord promptly, and adhering to any rules and regulations specified by the landlord.</li>
                                                                <li>Compliance with Laws and Regulations: You are required to comply with all applicable laws, regulations, and homeowners' association rules while residing in the rented property. Any violations may result in termination of the rental agreement.</li>
                                                                <li>Termination: The rental agreement may be terminated by either party according to the terms specified in the agreement or as permitted by law. In case of termination, you are required to vacate the property within the specified notice period and return the property in the same condition as received, subject to reasonable wear and tear.</li>
                                                            </ol>
                                                            <p>Please carefully read and understand the terms and conditions outlined above before submitting your rental request. By proceeding with the rental request, you acknowledge and agree to be bound by these terms and conditions.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="submit">Agree</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </form>
                                }
                        }
                    
                    </div>
                    
                </div>

            </div>

        </div>
    </div>

</div>