@model List<Rentopolis.Models.Data.Property>

@{
    string landlordId = ViewBag.LandlordId;
}

<div class="d-flex align-items-end">

    <div class="d-flex flex-column flex-grow-1">
        <h1>My Properties</h1>
        <p>These is the list of properties you own!</p>
    </div>

    <div class="d-flex flex-column flex-grow-1">
        @* search bar *@
        <form method="get" asp-action="MyProperties">
            <div class="input-group mb-3">
                <input type="hidden" name="id" value="@landlordId">
                <input type="text" class="form-control ps-4" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Address, Sub City, Price, Area, Bedroom, Bathroom..." aria-label="Search" aria-describedby="button-addon2" autocomplete="off" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23);font-size:15px;">
                <button class="btn btn-primary" type="submit" id="button-addon2" style="padding: 8px 20px;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>

    @* add property button *@
    <div class="d-flex flex-column ms-2 mb-3">
        <a class="btn btn-primary d-flex justify-content-center align-items-center gap-2" asp-controller="Property" asp-action="CreateProperty" asp-route-id="@landlordId" title="Add New Property">
            <i class="fa-solid fa-folder-plus"></i>
        </a>
    </div>
</div>

<br />

@* if editing and deleting is successful *@
@if (TempData.ContainsKey("successMessage"))
{
    <div asp-validation-summary="All" class="alert alert-success">
        <li>@TempData["successMessage"]</li>
    </div>
    TempData.Remove("successMessage");
}


@* if property is NOT available *@
@if (Model.Count == 0)
{
    <div class="d-flex justify-content-center" style="margin-top:140px">
        <h4>No properties found!</h4>
    </div>
}


@* if property IS available *@
@if (Model.Count != 0)
{
    <div class="d-flex flex-column justify-content-center align-items-start ps-4 pe-4">
        @foreach (var property in Model)
        {
        <a asp-controller="Property" asp-action="Detail" asp-route-id="@property.Id" style="text-decoration:none; color:black">
            <div class="card mb-3 shadow-lg p-3 mb-5 rounded" style="width:100%; height:250px;">
                <div class="row g-0">

                    @* image *@
                    <div class="col-md-3">
                            <img src="@property.ImageUrl" class="img-fluid rounded-start" alt="@property.Address's image" style="width:250px;height:220px;">
                    </div>

                    <div class="col-md-9">
                        <div class="card-body">

                            @* address *@
                            <h5 class="card-title">@property.Address</h5>

                            @* features *@
                            <p class="card-text">@property.Features</p>

                            <div class="d-flex justify-content-between align-items-center">

                                @* bedroom *@
                                <div class="d-flex flex-column flex-grow-1 gap-2">
                                    <i class="fa-solid fa-bed  fs-5"></i>
                                    <p>@property.Bedroom</p>
                                </div>

                                @* bathroom *@
                                <div class="d-flex flex-column flex-grow-1">
                                    <i class="fa-solid fa-bath fs-5"></i>
                                    <p>@property.Bathroom</p>
                                </div>

                                @* area *@
                                <div class="d-flex flex-column flex-grow-1">
                                    <i class="fa-solid fa-chart-area  fs-5"></i>
                                    <p>@property.Area</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">

                                @* added date *@
                                <p class="card-text"><small class="text-muted">Posted on: @property.AddedDate</small></p>
                                
                                <div class="d-flex justify-content-center gap-3 w-50">
                                    @* approval status *@
                                    @if(property.IsApproved == true && property.IsDeleted == false)
                                    {
                                        <div class="d-flex justify-content-center align-items-center w-50 gap-2 rounded" style="background-color:green; color: white;">
                                            <i class="fa-regular fa-circle-check"></i>
                                            <h6 class="mt-2 mb-2">Approved</h6>
                                        </div>
                                    }
                                    @if(property.IsApproved == false && property.IsDeleted == false)
                                    {
                                        <div class="d-flex justify-content-center align-items-center w-50 gap-2 rounded" style="background-color:dimgray; color: white;">
                                            <i class="fa-regular fa-clock"></i>
                                            <h6 class="mt-2 mb-2">Waiting</h6>
                                        </div>
                                    }
                                    @if(property.IsApproved == false && property.IsDeleted == true)
                                    {
                                        <div class="d-flex justify-content-center align-items-center w-50 gap-2 rounded" style="background-color:red; color: white;">
                                                <i class="fa-regular fa-circle-xmark"></i>
                                            <h6 class="mt-2 mb-2">Rejected</h6>
                                        </div>
                                    }

                                    @* rent status *@
                                    @if(property.IsRented == true)
                                    {
                                        <div class="d-flex justify-content-center align-items-center w-50 gap-2 rounded" style="background-color:green; color: white;">
                                            <i class="fa-regular fa-circle-check"></i>
                                            <h6 class="mt-2 mb-2">Rented</h6>
                                        </div>
                                    }
                                    @if(property.IsRented == false)
                                    {
                                        <div class="d-flex justify-content-center align-items-center w-50 gap-2 rounded" style="background-color:dimgray; color: white;">
                                                <i class="fa-regular fa-circle-xmark"></i>
                                            <h6 class="mt-2 mb-2">Not Rented</h6>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        }
    </div>
}