@model List<Rentopolis.Models.Data.Property>

@{
    string landlordId = ViewBag.LandlordId;
    int ownedPropertyCount = ViewBag.PropertyCount;
    int totalApproved = ViewBag.ApprovedCount;
    int totalWaiting = ViewBag.WaitingCount;
    int totalRejected = ViewBag.RejectedCount;
    string user = ViewBag.SignedInUsername;
}

@* page title + search bar *@
<div class="d-flex align-items-center mt-5">

    <div class="d-flex flex-column flex-grow-1">
        <h4 class="fw-bold">My Properties</h4>
        <p style="font-size:14px;">This is the list of properties you own!</p>
    </div>

    <div class="d-flex flex-column flex-grow-1">
        @* search bar *@
        <form method="get" asp-action="MyProperties">
            <div class="input-group mb-3">
                <input type="hidden" name="id" value="@landlordId">
                <input type="text" class="form-control ps-4" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Address, Sub City, Price, Area, Bedroom, Bathroom..." aria-label="Search" aria-describedby="button-addon2" autocomplete="off" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23);font-size:15px;">
                <button class="btn btn-primary" type="submit" id="button-addon2" style="padding: 8px 20px;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>

    @* add property button *@
    <div class="d-flex flex-column ms-2 mb-3">
        <a class="btn btn-primary d-flex justify-content-center align-items-center gap-2" asp-controller="Property" asp-action="CreateProperty" asp-route-id="@landlordId" title="Add New Property">
            <i class="fa-solid fa-folder-plus"></i>
        </a>
    </div>
</div>


@* displaying success message *@
@if (TempData.ContainsKey("successMessage"))
{
    <div class="alert alert-success fade show position-fixed bottom-0 end-0 border-2" role="alert" style="margin-bottom: 40px; margin-right: 40px; z-index:100;" id="fadingAlert">
        <p class="m-0 py-2 px-4">
            <i class="fa-solid fa-circle-check"></i>
            @TempData["successMessage"]
        </p>
    </div>

    TempData.Remove("successMessage");
}


<br />


<div class="d-flex gap-4">

    @* info tab *@
    <div class="col-md-3 p-1" style="box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.23); height:60vh; border-radius:5px; color:white; background-image: linear-gradient(to bottom right, #013075, #97c0fc);">
        
        @* title *@
        <p class="mt-2 mx-2 mb-0 ps-1" style="font-size:15px;">Information</p>

        <hr class="my-2"/>
        
        @* text *@
        <div class="ps-1">
            <p class="mx-2 mt-3 mb-0" style="font-size:12px;">
                Hello, @user! Simplify your landlord experience by effortlessly managing your properties and accessing accurate information in a user-friendly interface.
                Stay organized and make informed decisions, maintaining professionalism in your endeavors.
            </p>
        </div>

        <hr class="my-3"/>

        @* total property *@
        <div class="ps-1">
            <p class="text-center mx-2 mb-0" style="font-size:13px;">
                <i class="fa-solid fa-house me-1"></i>
                Total owned properties
            </p>
            <p class="text-center mx-2 mb-2" style="font-size:20px;">@ownedPropertyCount</p>
        </div>

        @* approved + waiting + rejected *@
        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <p class="text-center mx-2 mb-0" style="font-size:11px;">
                    <i class="fa-regular fa-circle-check"></i>
                    Approved
                </p>
                <p class="text-center mx-2 mb-0" style="font-size:15px;">@totalApproved</p>
            </div>
            <div class="flex-grow-1">
                <p class="text-center mx-2 mb-0" style="font-size:11px;">
                    <i class="fa-solid fa-hourglass-half"></i>
                    Waiting
                </p>
                <p class="text-center mx-2 mb-0" style="font-size:15px;">@totalWaiting</p>
            </div>
            <div class="flex-grow-1">
                <p class="text-center mx-2 mb-0" style="font-size:11px;">
                    <i class="fa-regular fa-circle-xmark"></i>
                    Rejected
                </p>
                <p class="text-center mx-2 mb-0" style="font-size:15px;">@totalRejected</p>
            </div>
        </div>

        <hr />

        <p class="text-center mb-0" style="font-size:11px;">Thank you for using our app!</p>

    </div>
        
    @* property tab *@
    <div class="col-md-9 border border-1" style="box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.23); height:60vh; border-radius:5px;">
        @* title *@
        <p class="text-muted m-2 ps-2" style="font-size:15px;">Properties (@Model.Count)</p>

        <div class="d-flex flex-column px-2" style="overflow-y:scroll; height:87%;">
            @* if properties are NOT available *@
            @if (Model.Count == 0)
            {
                // just empty
                @if (@ViewData["CurrentFilter"] == null)
                {
                    <div class="d-flex flex-column justify-content-center align-items-center" style="height:100%">
                        <img src="/Images/Assets/empty.png" alt="empty-image" class="w-25" />
                        <h4>No properties available!</h4>
                        <p style="font-size:14px;">You haven't registered any properties yet.</p>
                    </div>
                }

                // searched
                @if (@ViewData["CurrentFilter"] != null)
                {
                    <div class="d-flex flex-column justify-content-center align-items-center" style="height:100%">
                        <img src="/Images/Assets/no-result.png" alt="no-result-image" class="w-25" />
                        <h4>No result found!</h4>
                        <p style="font-size:14px;">You don't have properties matching the keyword "@ViewData["CurrentFilter"]".</p>
                    </div>
                }
            }

            @* if there ARE properties *@
            @if (Model.Count != 0)
            {
                @foreach (var property in Model)
                {
                    <a asp-controller="Property" asp-action="Detail" asp-route-id="@property.Id" style="text-decoration:none; color:black" class="mb-2">

                        <div class="card" style="max-width: 100%; max-height:180px;" id="hoverable-container">
                            <div class="row g-0">
                                <div class="col-md-2">
                                    <img src="@property.ImageUrl" alt="@property.Address's image" class="img-fluid rounded-start" style="max-height:180px;width:140px;">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        @* address *@
                                        <h6 class="fw-bold">@property.Address</h6>
                                        @* subcity *@
                                        <p class="card-text mb-1" style="font-size:15px">@property.City</p>
                                        @* price *@
                                        <p class="card-text text-success fst-italic mb-2" style="font-size:15px">@property.PricePerMonth ETB</p>
                                        @* bedroom + bathroom + area *@
                                        <div class="d-flex gap-3 text-muted" style="font-size:13px">

                                            @* bedroom *@
                                            <div class="d-flex flex-column">
                                                <i class="fa-solid fa-bed"></i>
                                                <p class="mb-2">@property.Bedroom</p>
                                            </div>

                                            <p>|</p>

                                            @* bathroom *@
                                            <div class="d-flex flex-column">
                                                <i class="fa-solid fa-bath"></i>
                                                <p class="mb-2">@property.Bathroom</p>
                                            </div>

                                            <p>|</p>

                                            @* area *@
                                            <div class="d-flex flex-column">
                                                <i class="fa-solid fa-chart-area"></i>
                                                <p class="mb-2">@property.Area</p>
                                            </div>

                                        </div>
                                        @* posted date + approval status *@
                                        <div class="d-flex justify-content-between align-items-center">
                                            @* posted date *@
                                            <div class="flex-grow-1">
                                                <p class="card-text text-muted" style="font-size:11px;">Posted on: @property.AddedDate</p>
                                            </div>

                                            @* verified + approval status *@
                                            <div class="d-flex justify-content-center align-items-center gap-1">
                                                @* approved? *@
                                                @if (property.IsApproved == true && property.IsDeleted == false)
                                                {
                                                    <i class="fa-regular fa-circle-check text-success"></i>
                                                    <p class="text-success mb-0" style="font-size:14px;">Approved</p>
                                                }
                                                @* waiting? *@
                                                @if (property.IsApproved == false && property.IsDeleted == false)
                                                {
                                                    <i class="fa-solid fa-hourglass-half text-secondary"></i>
                                                    <p class="text-secondary mb-0" style="font-size:14px;">Waiting</p>
                                                }
                                                @* rejected? *@
                                                @if (property.IsApproved == false && property.IsDeleted == true)
                                                {
                                                    <i class="fa-regular fa-circle-xmark text-danger"></i>
                                                    <p class="text-danger  mb-0" style="font-size:14px;">Rejected</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                }
            }
        </div>
    </div>

</div>
